.header {
  border-bottom: 5px solid black;
  display: flex;
  flex: 1;
  height: 80px;

  align-items: center;

  margin-left: auto;
  margin-right: auto;
}
.header img {
  background-color: white;
  object-fit: contain;
  width: 150px;
  height: 60px;
  margin-left: 10px;
  margin-right: 30px;
}

.header input {
  width: 520px;
  height: 20px;
  padding: 5px;
}
.icon1 {
  background-color: white;
}
.icon2 {
  background-color: white;
}
.icon2 {
  background-color: white;
}
