.imageupload {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin-left: 100px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 10px;

  border: 1px solid lightgray;
}
.imageupload__progress {
  width: 100%;
}
